* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw; 
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.blue-line {
    position: absolute;
    left: 0;
    transform: translateX(-120%);
    width: calc(70px);
    height: 1px;
    background-color: #0099ff;
}

.highlight {
    color: #0099ff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 20px 10px 30px 10px;
    margin-bottom: 15px;
}

ul li {
    font-size: 14px;
    margin-bottom: 12px;
}

ul li::before {
    content: "• ";
    color: black;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 6px 20px 8px;
    font-size: 14px;
    border-radius: 20px; 
    font-weight: bold;
}

.primary {
    background-color: white;
    color: #0099ff;
    border: 1px solid #0099ff;
}

.secondary {
    background-color: #0099ff;
    color: white;
    border: 1px solid white;
}

.image-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
